# Build/Maven #
###############
**/target/
# Eclipse #
###########
.project
.classpath
.settings
**/bin/
.metadata/
# IntelliJ #
############
.idea/
*.iml
*.DS_Store
.DS_Store
*.DS

.DS_Store
src/.DS_Store
